<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/js/jquery.js"></script>
        <link href="css/material_icons.css" rel="stylesheet">
        <link rel="stylesheet" href="css/materialize.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <script src="js/materialize.js"></script>
    <script src="js/angular.js"></script>

    <script src="js/main.js"></script>
    <body ng-app="grangerApp">
        <main id="grad">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                    </div>
                </div>
                <div class="row" ng-controller="MainController as ctrl">
                    <div class="card scale-transition" ng-class="{ 'invisible': ctrl.selectedPatient == null, 'scale-in':ctrl.selectedPatient != null}">
                        <div class="card-content">
                            <a class="btn-floating btn-small waves-effect waves-light red" ng-click="ctrl.deselectPatient()"><i class="material-icons">done</i></a>
                            <p>{{ctrl.selectedPatient.firstName}} {{ctrl.selectedPatient.lastName}}</p>
                        </div>
                        <div class="card-tabs">
                            <ul class="tabs tabs-fixed-width">
                                <li class="tab"><a href="#personalInfoTab">Personal information</a></li>
                                <li class="tab"><a class="active" href="#dentalChartTab">Dental chart</a></li>
                                <li class="tab"><a href="#photoTab">Photo</a></li>
                            </ul>
                        </div>
                        <div class="card-content grey lighten-4">
                            <div id="personalInfoTab">
                                Date of birth: {{ctrl.selectedPatient.dateOfBirth}}
                            </div>
                            <div id="dentalChartTab">
                                <table ng-if="ctrl.selectedPatient != null">
                                    <tbody>
                                        <tr>
                                            <td ng-repeat="tooth in ctrl.selectedPatient.dentalChart.teeth.slice(0,16)">
                                                <a scroll-on-click href="#tooth-section" ng-click="ctrl.selectTooth(tooth)">
                                                    <div class="chip" ng-class="chip + ' ' + ctrl.treatmentsCompletedClass(tooth)">
                                                        {{tooth.number}}
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="tooth in ctrl.selectedPatient.dentalChart.teeth.slice(16,32)">
                                                <a scroll-on-click href="#tooth-section" ng-click="ctrl.selectTooth(tooth)">
                                                    <div class="chip" ng-class="chip + ' ' + ctrl.treatmentsCompletedClass(tooth)">
                                                        {{tooth.number}}
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table ng-if="ctrl.selectedPatient != null">
                                    <thead>
                                        <tr>
                                            <td>Tooth</td>
                                            <td>Last activity type</td>
                                            <td>Last activity date</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="activity in ctrl.flatActivity(ctrl.selectedPatient.latestActivity) | orderBy: '-date'">
                                            <td>{{activity.tooth}}</td>
                                            <td>{{activity.type}}</td>
                                            <td>{{ctrl.toLocalDateTime(activity.date)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="photoTab">Photo</div>
                        </div>
                        <div id="tooth-section" class="row">
                            <div class="col s12" ng-if="ctrl.selectedTooth != null">
                                <h3 class="header">{{ctrl.selectedTooth.number}}</h3>
                                <div class="card horizontal">
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <h4>Treatments</h4>
                                            <div class="row">
                                                <div class="input-field col m4 s8">
                                                    <select ng-model="ctrl.treatmentCategory" ng-init="ctrl.init_treatments_ui()">
                                                        <option value="" disabled selected>Choose treatment category</option>
                                                        <option value="RCT">RCT</option>
                                                        <option value="Re-RCT">Re-RCT</option>
                                                    </select>
                                                </div>
                                                <div class="m4 s4">
                                                    <a class="btn-floating btn-small blue" ng-click="ctrl.newTreatment()">
                                                        <i class="large material-icons">add</i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <table class="striped">
                                                    <thead>
                                                        <tr>
                                                            <td>Category</td>
                                                            <td>Date started</td>
                                                            <td>Date completed</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="treatment in ctrl.selectedTooth.treatments">
                                                            <td><a href="#Roots" ng-click="ctrl.selectTreatment(treatment)">{{treatment.category}}</a></td>
                                                            <td>{{ctrl.toLocalDateTime(treatment.dateStarted)}}</td>
                                                            <td>{{ctrl.toLocalDateTime(treatment.dateCompleted)}}</td>
                                                            <td>
                                                                <button ng-if="treatment.dateCompleted == null" class="btn waves-effect waves-light orange" type="submit" name="action" ng-click="ctrl.completeTreatment()" ng-if="ctrl.publicKey == null">Complete
                                                                    <i class="material-icons right">done</i>
                                                                </button>
                                                                <span ng-if="treatment.dateCompleted != null" class="badge green" data-badge-caption="Completed"></span>
                                                            </td>
                                                            <td>
                                                                <button ng-click="ctrl.deleteTreatment(treatment)" ng-confirm-click="Are you sure you want to delete the treatment?" class="btn-floating red">
                                                                    <i class="material-icons">delete</i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-if="ctrl.selectedTreatment != null">
                                                <h4>Roots
                                                        <a ng-if="!ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.enableEditMode()">mode_edit</i></a>
                                                        <a ng-if="ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.pushChanges()">done</i></a>
                                                </h4>
                                                <table class="striped" ng-if="ctrl.toothEditMode || ctrl.selectedTreatment.roots.length > 0">
                                                    <thead>
                                                    <tr>
                                                        <td>Name</td>
                                                        <td>Length</td>
                                                        <td>Size</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-if="!ctrl.toothEditMode" ng-repeat="root in ctrl.selectedTreatment.roots">
                                                        <td>{{root.name}}</td>
                                                        <td>{{root.length}}</td>
                                                        <td>{{root.size}}</td>
                                                    </tr>
                                                    <tr ng-if="ctrl.toothEditMode" ng-repeat="root in ctrl.rootDetails">
                                                        <td>
                                                            <input type="text" class="validate" ng-model="root.name" ng-enter="ctrl.addRootRow()" focus-me="(root.name==null || root.name == '') && ctrl.allowRootFocus">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="validate" ng-model="root.length" ng-enter="ctrl.addRootRow()">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="validate" ng-model="root.size" ng-enter="ctrl.addRootRow()">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <hr />
                                                <h4>Obturation
                                                    <a ng-if="!ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.enableEditMode()">mode_edit</i></a>
                                                    <a ng-if="ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.pushChanges()">done</i></a>
                                                </h4>
                                                <table class="striped" ng-if="ctrl.toothEditMode || ctrl.selectedTreatment.obturation.length > 0">
                                                    <thead>
                                                    <tr>
                                                        <td>Name</td>
                                                        <td>Length</td>
                                                        <td>Size</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="root in ctrl.selectedTreatment.obturation">
                                                        <td>{{root.name}}</td>
                                                        <td>{{root.length}}</td>
                                                        <td>{{root.size}}</td>
                                                    </tr>
                                                    <tr ng-if="ctrl.toothEditMode" ng-repeat="root in ctrl.obturationDetails">
                                                        <td>
                                                            <input type="text" class="validate" ng-model="root.name" ng-enter="ctrl.addObturationRow()" focus-me="(root.name==null || root.name == '') && ctrl.allowObturationFocus">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="validate" ng-model="root.length" ng-enter="ctrl.addObturationRow()">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="validate" ng-model="root.size" ng-enter="ctrl.addObturationRow()">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <hr />
                                                <h4>Medicaments
                                                    <a ng-if="!ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.enableEditMode()">mode_edit</i></a>
                                                    <a ng-if="ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.pushChanges()">done</i></a>
                                                </h4>
                                                <table class="striped" ng-if="ctrl.toothEditMode || ctrl.selectedTreatment.medicaments.length > 0">
                                                    <thead>
                                                    <tr>
                                                        <td>Name</td>
                                                        <td>Date</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="med in ctrl.selectedTreatment.medicaments">
                                                        <td>{{med.name}}</td>
                                                        <td>{{ctrl.toLocalDateTime(med.date)}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <datalist id="medicament-suggestions">
                                                    <option ng-repeat="medicament in ctrl.medicamentSuggestions" value="{{medicament}}">
                                                </datalist>
                                                <input type="text" list="medicament-suggestions" class="validate" ng-model="ctrl.toothEditing.medicament" ng-if="ctrl.toothEditMode">
                                                <hr />
                                                <h4>Next visit notes
                                                    <a ng-if="!ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.enableEditMode()">mode_edit</i></a>
                                                    <a ng-if="ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.pushChanges()">done</i></a>
                                                </h4>
                                                <table class="striped" ng-if="ctrl.toothEditMode || ctrl.selectedTreatment.nextVisits.length > 0">
                                                    <thead>
                                                    <tr>
                                                        <td>Notes</td>
                                                        <td>Appointment date</td>
                                                        <td>Note taken on</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="nextVisit in ctrl.selectedTreatment.nextVisits">
                                                        <td>{{nextVisit.notes}}</td>
                                                        <td>{{ctrl.toLocalDateTime(nextVisit.dateOfNextVisit)}}</td>
                                                        <td>{{ctrl.toLocalDateTime(nextVisit.dateOfNote)}}</td>
                                                    </tr>
                                                    <tr ng-if="ctrl.toothEditMode">
                                                        <td>
                                                            <input type="text" class="validate" ng-model="ctrl.toothEditing.nextVisit">
                                                        </td>
                                                        <td>
                                                            <input type="datetime-local" class="validate" ng-model="ctrl.toothEditing.nextVisitDate">
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <hr />
                                                <h4>Notes
                                                    <a ng-if="!ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.enableEditMode()">mode_edit</i></a>
                                                    <a ng-if="ctrl.toothEditMode"><i class="tiny material-icons" ng-click="ctrl.pushChanges()">done</i></a>
                                                </h4>
                                                <table class="striped" ng-if="ctrl.selectedTreatment.notes.length > 0">
                                                    <thead>
                                                    <tr>
                                                        <td>Note</td>
                                                        <td>Note taken on</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="note in ctrl.selectedTreatment.notes">
                                                        <td>{{note.note}}</td>
                                                        <td>{{ctrl.toLocalDateTime(note.dateOfNote)}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <textarea class="materialize-textarea" ng-model="ctrl.toothEditing.notes" ng-if="ctrl.toothEditMode"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="ctrl.selectedTreatment != null">
                            <div class="fixed-action-btn horizontal">
                                <a class="btn-floating btn-large red">
                                    <i class="large material-icons">subject</i>
                                </a>
                                <ul>
                                    <li><a class="btn-floating red"><i class="material-icons" ng-click="ctrl.enableEditMode()">mode_edit</i></a></li>
                                    <li><a class="btn-floating green darken-1"><i class="material-icons" ng-click="ctrl.pushChanges()">done</i></a></li>
                                </ul>
                            </div>
                            <div class="card-action">
                                <a href="#" ng-click="ctrl.deselectTooth()">Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="customerManagement" ng-if="ctrl.selectedPatient == null && ctrl.repoReady">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s3">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_prefix_firstName" type="text" class="validate" ng-model="ctrl.firstName">
                                        <label for="icon_prefix_firstName">First Name</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="icon_prefix_lastName" type="text" class="validate" ng-model="ctrl.lastName">
                                        <label for="icon_prefix_lastName">Last Name</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <i class="material-icons prefix">date_range</i>
                                        <input id="birthday" type="date" placeholder="yyyy-MM-dd" ng-model="ctrl.birthday.value">
                                    </div>
                                    <div class="input-field col s3">
                                        <a class="btn-floating btn-small waves-effect waves-light red" ng-click="ctrl.addPatient()"><i class="material-icons">add</i></a>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">search</i>
                                <input type="text" class="validate" ng-model="ctrl.searchText">
                            </div>
                        </div>
                        <div class="row">
                            <table id="allpatients" class="highlight scale-transition">
                                <thead>
                                <tr>
                                    <th>Patient id</th>
                                    <th>First name</th>
                                    <th>Last Name</th>
                                </tr>
                                </thead>

                                <tbody>
                                    <tr ng-click="ctrl.selectPatient(patient)" ng-repeat="patient in ctrl.allPatients | filter: ctrl.searchText" ng-if="ctrl.searchText != null && ctrl.searchText.length > 2">
                                        <td>{{patient.patientId}}</td>
                                        <td>{{patient.firstName}}</td>
                                        <td>{{patient.lastName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-if="!ctrl.repoReady">
                        <form class="col s12">
                            <div class="row" ng-if="ctrl.publicKey == null">
                                <div class="input-field col s12">
                                    <input id="gitRepo" type="text" class="validate" ng-model="ctrl.repo">
                                    <label for="gitRepo">Store url</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p>
                                        {{ctrl.publicKey}}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="ctrl.requestPublicKey()" ng-if="ctrl.publicKey == null">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="ctrl.initialiseRepo()" ng-if="ctrl.publicKey != null">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
